*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */

ul {
    list-style: none;

}
ul li {
    float: left;
}
ul li a {
    
    padding: 16px 20px;
    text-decoration: none;
    color: white;
    display: flex;
    
    

}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
   
}
.navbar {
    top: 0;
    padding: 25px 0;   
    width: 100%;
    position: absolute;
    
    
}
.nav-menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    
    
}
.nav-logo h2 {
    font-size: 28px;
    font-weight: 700;
}
